h5{color: black;font-family: 'Times New Roman';font-size: 120%;}
#K {color: black; font-family: Arial;font-size: 90%;}
#M:hover{color: black; font-size: 90% ;font-family:'Arial Narrow Bold';background-color:darkgrey;}
.cecily{
  color:darkmagenta
}
.algernon{
  color:green
}
.gwendolen{
  color:indianred
}

Starring {
  border: 2px solid black;text-align: center;
}
Starring th{
  background-color: lightblue ; text-align: center;border: 2px solid black; 
  }
  
