h5{color: black;font-family: 'Times New Roman';font-size: 120%;}
#K {color: black; font-family: Arial;font-size: 90%;}
#M:hover{color: black; font-size: 90% ;font-family:'Arial Narrow Bold';background-color:darkgrey;}
.cecily{
  color:darkmagenta
}
.algernon{
  color:green
}
.gwendolen{
  color:indianred
}
.jack{
  color:lightslategray
}
#Starring {
  border: 3px solid black;text-align: center;width: 50%
}
#Starring th{
  background-color: lightblue ; text-align: center;border: 2px solid black; padding: 3px;
  }
  #Starring tr{
  border: 2px solid blue;text-align: center; padding: 3px
  }
  #Starring tr:nth-child(even)  {background-color: rgb(241, 205, 205);  }
  #Starring tr:nth-child(odd){background-color: rgb(201, 162, 211);}

  h5:hover{
    text-shadow: 2px 2px 3px darkolivegreen; border: solid olivedrab 
  }
  ul.navbar-horizontal { 
   
    margin: 20;
    padding: 20;
    }
    ul.navbar-horizontal li {
    float:left; 
    color:rgb(99, 91, 91);
    border: 2px solid rgb(128, 89, 168);
    background-color:rgb(221, 221, 146);
    }
    ul.navbar-horizontal a {
    display:block;
    padding:8px
    }
    ul.navbar-horizontal a:hover {
        background-color: rgb(124, 119, 119);
        color:rgb(247, 239, 239);
    }
